/* CSS GRID */

* {box-sizing: border-box;}
.wrapper {
  max-width: auto;
}

.wrapper > div {
  border-radius: .5px;
  padding: 1em;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(90px, auto);
  align-items: center;
  transition: all 0.8s ease;
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-family: Georgia;
  font-size: 18px;
  font-weight: 100;
  color: black;
  overflow: hidden;
  transition: 2s ease;
  max-width: 100vw;
  box-shadow: 0 6px 20px 6px #DCDCDC;
}
.two {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
  padding: 0em !important;
  overflow: hidden;
  height: 100%;
}
.home-page .two {
  height: 40vh;
}
.home-page h1 {
  text-shadow: 1px 1px 2px #000000 !important;
  font-size: 47px;
}
.three {
  grid-column: 1 / 2;
  grid-row: 5 / 8;
  height: 100%;
  padding: 40px 0px 35px 170px !important;
}
.four {
  grid-column: 2 / 3;
  grid-row: 5 / 8;
  padding: 100px 5px 0px 170px !important;
}
.five {
  grid-column: 1 / 3;
  grid-row: 8 / 11;
  height: 80%;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em !important;
  padding-bottom: 4em !important;
}
.six {
  grid-column: 1 / 3;
  grid-row: 11 / 13;
  display: flex;
  height: 100%;
  max-height: 220px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10em !important;
  padding-bottom: 10em !important;
}
.seven {
  grid-column: 1 / 3;
  grid-row: 13;
  display: flex;
  height: 50px;
  margin-top: 20px;
  background-color: #b8860b;
  padding: 0 !important;
  font-family: Georgia;
}

.hide-grid {
  display: none;
}

/* GLOBAL */

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.05rem;
}

a {
  color: #2c3230;
  transition-timing-function: ease;
  transition-delay: .03s;
}
a:hover{
  text-decoration: none;
  color: #b8860b;
}
a[aria-expanded="true"] {
  color: #b8860b;
}
li:hover{
  text-decoration: none;
}
/* ul li:last-child {
  font-size: 13px !important;
} */
h1 {
  font-size: 44px;
  font-weight: 300;
  color: #b8860b;
}
.three h1 {
  padding-bottom: 24px;
}
h2 {
  /* font-family: 'Crimson Text', Georgia; */
  font-size: 1.8rem;
  font-weight: 300;
  /* color: #2c3230; */
  /* color: #b8860b; */
}
h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #b8860b;
}
p {
  font-weight: 400;
}
.five p {
  text-align: center;
  /* font-family: 'Crimson Text', Georgia; */
}
.spacer {
  padding: 10px;
  /* display: flex;/ */
}

.dropdown-menu {
  border: none;
  padding: 2.1rem 0 1rem 0;
  /* min-width: 12rem; */
}

.vip-tracker.show {
  transform: translate3d(6px, 28px, 0px) !important;
  /* min-width: 12rem; */
}

/* .dropdown-menu:last-child {
  font-size: 14px;
} */


.dropdown-item a:hover {
  text-decoration: none;
  color: inherit;
}

/* HEADER */

#shrink.active {
  grid-auto-rows: minmax(40px, auto);
  /* transition: 2s ease; */
}

#shrink.active #header-logo-shrink {
  transform: scale(.8);
  transition: .5s;
}

#shrink.active li.header-menu-center {
  padding-top: 10px;
  transition: 1s ease;
}

.nav {
    position: fixed;
    display: block;;
    width: 100%;
    background: white;
    z-index: 1000;
    padding: 20px;
    transition-timing-function: ease-in-out;
    /* transition-delay: .07s; */
    /* border-bottom: 1px solid #DCDCDC; */
}

#scroll.active {
  border-width: thin;
  -webkit-box-shadow: 0 6px 35px -6px #DCDCDC;
  -moz-box-shadow: 0 6px 35px -6px #DCDCDC;
  box-shadow: 0 6px 35px -6px #DCDCDC;
  border-bottom: 0;
  padding: 0px;
  height: 60px;
  scroll-behavior: smooth;
  transition: .8s;
  /* font-size: 10px; */
}

.listcontainer {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  transition: height 2s linear;
}

#adjust-height.active {
  height: 60px;
}

#adjust-height {
  transition: height 1s linear;
}

.unorderedlist {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
  padding-left: 5px;
}

/* .unorderedlist.main {
  padding-left: 5px;
} */

.unorderedlist img {
  transform: scale(1.2);
  padding: 0px 10px;
}

.header-menu-center {
  transition: transform .2s;
  list-style: none;
  padding: 0px 24px 0px 24px;
}


.header-menu-center .dropdown-menu {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.88;
  text-align: left;
  padding-left: 34px;
  padding-right: 5px;
  background-color: white;
  min-width: 11rem;
  line-height: 2.4rem;
  /* top: 10px !important; */
  left: 0px !important;
  transform: translate3d(6px, 25px, 0px);
}

.mobile-left-menu .menu {
  list-style-type: none;
  font-size: 16px;
  padding: 5px 0px 0px 20px;
  background-color: white;
  min-width: 7rem;
  line-height: 2.2rem;
}

.header-menu-center:hover {
  list-style: none;
  text-shadow: 1px;
}

#scroll-left-align.active {
  padding-top: 10px;
  transition: all 1s ease;
}


/* HERO IMAGE */

.herocontainer {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.img {
  max-width: 100%;
  overflow: hidden;
}

/* TESTIMONIALS */

.testimonial-section h2 {
  display: flex;
  justify-content: center;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b8860b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b8860b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel {
  padding: 0px 50px 0px;
}

.carousel-indicators {
  top: 90%;
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #b8860b;
}

/* CMS Section */

.info-section h2 {
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: center;
  text-align: center;
}

.info p {
  margin-bottom: 0;
  font-size: 1.4rem;
  color: #b8860b;
}

.ash-insta-line {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 3px;
  font-size: 1.2rem;
}

.insta-list {
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
}

.ash-insta-logo {
  margin-left: 4px;
  max-width: 22px;
}

.ash-insta-logo:hover {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

.four.homepage-four {
  padding-top: 40px !important;
}

.homepage-four img {
  max-height: 560px;
}

/* FOOTER */

.unorderedlistfooter {
  display: flex;
  height: 100%;
  list-style: none;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
  width: 100%;
}

.footer-menu-left {
  /* transition: transform .2s; */
  list-style: none;
  font-size: 11px;
  display: flex;
}

.footer-menu-right {
  transform: scale(.4);
  list-style: none;
  display: flex;
  margin-right: 3%;
}

.footer-menu-right-fb {
  transform: scale(.4);
  list-style: none;
  display: flex;
  margin-left: auto;
}

.unorderedlistfooter a {
  color: black;
}

.unorderedlistfooter a:hover{
  text-decoration: none;
  list-style: none;
  text-shadow: 1px;
  color: #2c3230;
}

.footer-menu-left:hover {
  text-decoration: none;
}

.footer-menu-right:hover {
  list-style: none;
  text-shadow: 1px;
  text-decoration: none;
}



/* SOCCER PAGE */

.soccer-page-header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 58px;
  font-weight: 400;
  color: #b8860b;
  text-shadow: 2px 2px 4px #000000;
}

.soccer-page-header {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.soccer-page-two {
  min-height: 12rem !important;
  /* padding-top: 26px !important; */
  text-align: center;
  max-height: 30vw;
}

.soccer-page-two h1 {
  padding-bottom: 18px;
}

.soccer-page-two img {
  transform: translateY(-200px);
}

.soccer-page-three h1 {
  font-size: 36px;
}

.soccer-page-five .testimonial-section {
  width: 100%;
  text-align: center;
}

.soccer-page-three, .soccer-page-four {
  /* display: none !important; */
  /* max-height: 10%; */
}

/* ABOUT PAGE */
.testimonial-section.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
}


/* BUY PACKAGES PAGE */

.packages-page-header {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  overflow: hidden;
  /* font-family: Georgia; */
  color: black;
}

.packages-page-header .price {
  font-size: 1.05rem;
}

.packages-page-header .pkg-info {
  font-size: 0.95rem;
}

.packages-page-header .note {
  font-size: .8rem;
}

.packages-page-header img {
  width: 400px;
}

.packages-page-header .row {
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
  padding-left: 13%;
  padding-right: 13%;
  padding-bottom: 40px;
}

.odd-package-row .col-sm-8 {
  max-width: none;
}

.packages-page-two {
  min-height: 12rem !important;
  padding-top: 26px !important;
  text-align: center;
  max-height: fit-content;
}

.packages-page-three h1 {
  font-size: 36px;
}

.packages-page-five .testimonial-section {
  width: 100%;
  text-align: center;
}

.packages-page-five {
  height: 100%
}

.packages-page-header h4 {
  margin-top: 1rem;
}

.col-sm-8 {
  flex: auto;
}

.packages-page-two {
  padding-top: 80px !important;
  text-align: center;
}

.packages-page .six {
  display: none;
}

.packages-page-three, .packages-page-four {
  display: none;
}

/* CONACT PAGE */


.contact-page .six {
  grid-row: 3/5;
  padding-top: 11em !important;
  padding-bottom: 11em !important;
}

#linkedin-link {
  color: #0072b1;
  font-family: arial;
}
/* #twitter-link:hover {
  text-shadow: 1px;
} */


/* MOBILE */


.mobile-header {
  display: flex;;
  width: 100%;
  background: white;
}

.mobile-nav-hidden {
  /* display: none; */
  z-index: 1000;
  padding-left: 0;
  background-color: white;
  position: fixed;
  height: 100%;
  width: 130px;
  left: 0;
}

.mobile-fixed-header {
  display: block;
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  height: 60px;
  box-shadow: 0 3px 10px -3px #DCDCDC;
  z-index: 100;
  /* transition-timing-function: ease-in-out;
  transition-delay: .07s;
  border-bottom: 1px solid #DCDCDC; */
}


#mobileScroll.active {
  -webkit-box-shadow: 0 6px 15px -6px #DCDCDC;
  -moz-box-shadow: 0 6px 15px -6px #DCDCDC;
  box-shadow: 0 6px 15px -6px #DCDCDC;
  border-bottom: 0;
  transition: all 1s ease;
}

.mobile-menu-left {
  /* padding-left: 12px; */
  font-size: 10px;
  font-family: -apple-system;
  font-weight: 500;
  /* z-index: 1000 !important; */
}

.mobile-menu-left a {
  display: flex;
  align-items: center;
  /* z-index: 1005 !important; */
}

.mobile-menu-left img {
  z-index: 1000 !important;
}


/* .mobile-menu-left .dropdown-menu {
  min-width: 20rem;
} */


.mobile-menu-center {
  transform: scale(.9);
}

.menu-buttons {
  display: flex;
  height: 100%;
  width: 100%;
}

.unorderedlist-mobile-fixed {
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 42%;
}

#collapseExampleFirst {
  min-width: 20rem;
  min-height: fit-content;
  height: 100vh;
  background-color: white;
  position: absolute;
  -webkit-box-shadow: 6px 0px 15px -6px #DCDCDC;
  -moz-box-shadow: 6px 0px 15px -6px #DCDCDC;
  box-shadow: 6px 0px 15px -6px #DCDCDC;
  transform: translate3d(0px, -58px, 0px) !important;
  padding: 57px 0 1rem 0;
}

.unorderedlist-mobile {
  z-index: 1;
  padding-top: 0px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
}

a[text=Menu] {
  z-index: 1200;
}

.mobile-left-menu {
  list-style: none;
  padding: 5px 10px;
}



.border-top {
  border-top: 1px solid gray;
  padding-top: 2rem !important;
}

.unorderedlist-mobile .border-top {
  padding-top: 1.5rem !important;
}

.mobile-left-menu-logo {
  list-style: none;
  transform: translate(10px,-10px);
  font-size: 10px;
  font-weight: 500;
  font-family: -apple-system;
}

.mobile-left-menu-logo a {
  transform: translate(10px,-1px);
}

.menu-toggle {
  font-size: 10px;
  font-weight: 500;
  font-family: -apple-system;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(auto);
    grid-auto-rows: minmax(auto, auto);
  }
  .wrapper.soccer-page {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(auto, auto);
  }
  .wrapper.packages-page {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(auto, auto);
  }
  .packages-page-header .row {
    padding-left: 4%;
    padding-right: 4%;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  .wrapper.contact-page {
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-columns: repeat(auto); */
    grid-auto-rows: minmax(auto, auto);
    min-height: 87vh;
  }
  .contact-page-one.one {
    height: initial !important;
  }
  .contact-page .seven {
    height: 90% !important;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    grid-column: 1;
    grid-row: 2;
    z-index: -1;
    max-width: 100vw;
    overflow: hidden;
  }
  .home-page .two {
    height: 50vh !important;
    /* max-width: 100% !important; */
    /* min-height: 60vw !important; */
  }
  .herocontainer {
    height: 100%;
  }
  .herocontainer img {
    object-fit: cover;
  }
  .soccer-page-header img {
    max-width: 100vw;
  }

  .three {
    grid-column: 1;
    grid-row: 3;
    padding: 50px 20px 60px 20px !important;
    text-align: center;
  }
  .four {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 40px 0px !important;
    height: 100%;
    max-width: 100vw;
  }
  .five {
    grid-column: 1;
    grid-row: 5;
  }
  .six {
    grid-column: 1;
    grid-row: 6;
  }
  .info-section h1 {
    text-align: center;
  }
  .info-section {
    padding : 0px 15px;
    text-align: center;
  }
  .info {
    padding-top: 10px;
  }
  .seven {
    grid-column: 1;
    grid-row: 7;
  }
  .nav {
    display: none;
  }
  .packages-page-header img {
    max-width: 400px;
    width: 100% !important;
  }
  .packages-page-two {
    z-index: 4 !important;
  }
}

/* TABLET & DESKTOP ONLY */

@media (min-width: 769px) {
  .mobile-header {
    display: none;
  }
  .three {
    height: 100%;
    width: 50vw;
    padding-top: 40px !important;
    padding-left: 30% !important;
  }
  .four {
    height: 100%;
    width: 50vw;
    padding-top: 100px !important;
    padding-left: 100px !important;
  }
  .five {
    width: 100vw;
  }
  .six {
    width: 100vw;
  }
  .seven {
    width: 100vw;
  }
}

@media (min-width: 769px) and (max-width: 1210px) {
  .three h1 {
    font-size: 44px !important;
  }
  .three {
    padding-left: 20% !important;
  }
  .four {
    padding-left: 60px !important;
  }
}

/* Very small screens */
@media (max-width: 700px) {
  .herocontainer img {
    /* max-height: 80vw !important; */
    /* max-width: 100vw !important; */
    padding-top: 22px !important;
  }
}

/* Screens less than 1150px */
@media (max-width: 1150px) {
  .two img {
    max-width: 100vw;
  }
  .packages-page-header .row {
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Screens less than 1020px */
@media (max-width: 1020px) {
  .packages-page-header .row {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (max-width: 930px) {

  .col-sm-8 {
    max-width: 100%;
    padding-bottom: 40px;
  }
  .row {
    padding-bottom: 0;
  }
  .packages-page-two {
    min-height: 90rem !important;
  }
}

/* @media (max-width: 530px) {
  .packages-page-header .row {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
  .packages-page-header .col-sm-8 {
    padding-left: 0% !important;
    padding-right: 0% !important;
  } */

/* DESKTOP ONLY */
@media (min-width: 1000px) {
  .herocontainer img {
    transform: translateY(-110px);
  }
}

@media (min-width: 1151px) {
  .herocontainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateY(-160px);

  }
}

@media (min-width: 1250px) {
  .herocontainer img {
    transform: translateY(-210px);
  }
}

@media (min-width: 1350px) {
  .herocontainer img {
    transform: translateY(-260px);
  }
}

@media (min-width: 1450px) {
  .herocontainer img {
    transform: translateY(-280px);
  }
}

/* ABOUT PAGE */

.two-about {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
  padding: 0em !important;
  overflow: hidden;
  height: 100%;
}

/* GALLERY PAGE */


.gallery-header {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.gallery-container {
  padding: 0 20vh;
}

.gallery-container .carousel-inner img{
  display: flex;
  width: auto;
  height: 100%;
}

.gallery_control_previous {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b8860b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  height: 40px;
  width: 40px;
}

.gallery_control_next {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b8860b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    height: 40px;
    width: 40px;
}


/* CONTACT PAGE */
